<section class="well">
  <div class="row">
    <div class="col-sm-3 col-md-5">
      <img src="//www.gravatar.com/avatar/41366092a9f21b17d150af17f9caa591.png" alt="hamasyou" class="thumbnail" />
    </div>
    <div class="col-sm-9 col-md-7">
      <ul class="list-unstyled">
        <li>濱田章吾</li>
        <li>hamasyou</li>
        <li><ul class="list-inline">
          <li><a href="https://twitter.com/hamasyou" rel="external nofollow"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/hamada.syougo" rel="external nofollow"><i class="fa fa-facebook-square"></i></a></li>
          <li><a href="https://github.com/hamasyou" rel="external nofollow"><i class="fa fa-github"></i></a></li>
          <li><a href="m&#97;i&#108;t&#111;:h&#97;&#109;&#97;&#115;y&#111;&#117;&#64;&#103;mail&#46;c&#111;&#109;" rel="external nofollow"><i class="fa fa-envelope-o"></i></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
