<p class="text-center">
  <script type="text/javascript"><!--
  amazon_ad_tag = "sorehabooks-22";
  amazon_ad_width = "728";
  amazon_ad_height = "90";
  amazon_ad_logo = "hide";
  amazon_ad_link_target = "new";
  amazon_ad_discount = "remove";
  amazon_color_border = "FAFAFA";
  amazon_color_background = "FAFAFA";
  amazon_color_text = "666666";
  amazon_color_link = "3399F3";
  amazon_color_price = "CD0200";
  amazon_color_logo = "FF9900";//--></script>
  <script type="text/javascript" src="http://ir-jp.amazon-adsystem.com/s/ads.js"></script>
</p>
