{%if index%}
{%capture share_url%}{{site.url}}{{post.url}}{%endcapture%}
{%else%}
{%capture share_url%}{{site.url}}{{page.url}}{%endcapture%}
{%endif%}
<meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}" />
<meta property="og:type" content="article" />
{% if page.og_image and page.og_image != '' %}
  <meta property="og:image" content="{{ page.og_image }}" />
{% endif %}
<meta property="og:url" content="{{ share_url }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:description" content="{{ content | raw_content | strip_html | condense_spaces | nice_truncate:150 }}" />
<meta property="fb:app_id" content="130554843667643" />

