{% include custom/after_footer.html %}

<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.11/fastclick.min.js"></script>
<script src="{{ root_url }}/javascripts/hamasyou.js"></script>

{% if site.google_analytics_tracking_id %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.google_analytics_tracking_id }}', 'hamasyou.com');
  ga('send', 'pageview');

</script>
{% endif %}

{% if page.sharing != false or (site.disqus_short_name and page.comments != false) or (site.linkwithin_show == true and page.footer != false %}
<script>
(function (w, d) {
  var j, s = d.getElementsByTagName('script')[0],
  a = function (u, i) {
    if (!d.getElementById(i)) {
      j = d.createElement('script');
      j.type = 'text/javascript';
      j.src = u;
      j.async = true;
      if (i) {j.id = i;}
      s.parentNode.insertBefore(j, s);
    }
  };
  {% if site.twitter_follow_button or site.twitter_tweet_button %}
  a('//platform.twitter.com/widgets.js', 'twitter-wjs');
  {% endif %}
  {% if site.hatena_button %}
  a('//b.st-hatena.com/js/bookmark_button.js','hatebu-js');
  {% endif %}
  {% if site.google_plus_one %}
  {% if site.google_plus_one_lang %}
  w.___gcfg={lang:'{{site.google_plus_one_lang}}'};
  {% endif %}
  a('//apis.google.com/js/plusone.js','plusone-js');
  {% endif %}
  {% if site.facebook_like or site.facebook_share %}
  a('//connect.facebook.net/{% if site.facebook_lang %}{{ site.facebook_lang }}{% else %}en_US{% endif %}/all.js#{% if site.facebook_app_id %}appId={{ site.facebook_app_id }}&{% endif %}xfbml=1','facebook-jssdk');
  {% endif %}
  {% if site.pocket_button %}
  a('//widgets.getpocket.com/v1/j/btn.js?v=1','pocket-btn-js');
  {% endif %}
  {% if site.tumblr_button %}
  a('//platform.tumblr.com/v1/share.js','tumblr-share-js');
  {% endif %}
  {% if site.linkwithin_show == true and page.footer != false %}
  a('//www.linkwithin.com/widget.js','linkwithin-wjs');
  {% endif %}
  {% if site.disqus_short_name and page.comments != false %}
  var disqus_shortname = '{{ site.disqus_short_name }}';
  {% if page.comments == true %}
  var disqus_identifier = '{{ site.url }}{{ page.url }}';
  var disqus_url = '{{ site.url }}{{ page.url }}';
  var disqus_script = 'embed.js';
  {% elsif site.disqus_short_name and site.disqus_show_comment_count == true %}
  var disqus_script = 'count.js';
  {% endif %}
  a('//'+disqus_shortname+'.disqus.com/'+disqus_script);
  {% endif %}
})(this, document);
</script>
{% endif %}
