<form action="http://www.google.com/cse" id="searchbox" class="navbar-right navbar-form navbar-search">
  <input type="hidden" name="cx" value="partner-pub-0904452411138796:cj34mk-mtcg" />
  <input type="hidden" name="ie" value="utf-8" />
  <input type="hidden" name="hl" value="ja" />
  <input type="text" name="q" class="search-query form-control col-lg-8" placeholder="Search" />
</form>
<script type="text/javascript" src="http://www.google.com/cse/tools/onthefly?form=searchbox&amp;lang=ja"></script>
